.front-masonry {
  padding-bottom: 5rem;
  position: relative;
}
.front-masonry__container {
  padding: 0 1.75rem;
}
.front-masonry__head {
  display: grid;
  padding: 5rem 0;
  position: relative;
}
/* .front-masonry__ttl {
  animation: shine 5s linear 0s 1 both;
  animation: shine 3s 1 var(--transition) 0s both;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    105deg,
    #000,
    #000 45%,
    #e4ff3c 50%,
    #000 55%,
    #000
  );
  background-position: 100% 0;
  background-size: 300% auto;
  color: transparent;
  font-family: aktiv-grotesk, source-han-sans-japanese, -apple-system,
    blinkmacsystemfont, Segoe UI, Helvetica Neue, helveticaneue, verdana, meiryo,
    sans-serif;
  font-size: min(11.8rem, 210px);
  font-weight: 600;
  left: -0.05em;
  line-height: 0.9;
  position: relative;
  white-space: nowrap; 
} */
.front-masonry__ttl {
  position: relative;
  max-width: min(20rem, 250px);
}
.front-masonry__txt {
  max-width: min(30rem, 100%);
}
.front-masonry__txt--ja {
  display: block;
  font-size: min(2.2rem, 30px);
  font-weight: 700;
  margin-bottom: 0.35em;
}
.front-masonry__txt--en {
  display: block;
  font-family: aktiv-grotesk, source-han-sans-japanese, -apple-system,
    blinkmacsystemfont, Segoe UI, Helvetica Neue, helveticaneue, verdana, meiryo,
    sans-serif;
  font-size: min(1.2rem, 14px);
  font-weight: 600;
  line-height: 0.9;
}
.front-masonry__main {
  position: relative;
}
.front-masonry .grid-sizer,
.front-masonry .masonry-item {
  margin-bottom: 1.6vw;
  width: 44.5333333333vw;
}
.front-masonry .masonry-item,
.front-masonry .masonry-item > a {
  border-radius: 10px;
  overflow: hidden;
}
.front-masonry .masonry-item > a {
  display: block;
}
.front-masonry .masonry-item img {
  height: auto;
  transition: transform 0.3s var(--transition);
  width: 100%;
}
.front-masonry .gutter-sizer {
  width: 1.6vw;
}
@keyframes shine {
  0% {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}
.front-pickup {
  border-top: 1px solid #474747;
  position: relative;
}
.front-pickup__ttl {
  align-items: flex-end;
  border-bottom: 1px solid #474747;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 1.75rem;
}
.front-pickup__ttl--en {
  font-family: aktiv-grotesk, source-han-sans-japanese, -apple-system,
    blinkmacsystemfont, Segoe UI, Helvetica Neue, helveticaneue, verdana, meiryo,
    sans-serif;
  font-size: min(3.8rem, 70px);
  font-weight: 700;
  line-height: 0.9;
}
.front-pickup__ttl--ja {
  font-size: min(1.4rem, 19px);
  font-weight: 700;
}
.front-pickup__list {
  position: relative;
}
.front-pickup__item {
  padding-bottom: 2rem;
  position: relative;
}
.front-pickup__item:not(:first-child) {
  border-top: 1px solid #474747;
}
.front-pickup__item > a {
  display: grid;
  padding: 3rem 1.75rem;
}
.front-pickup__item .item-img {
  border-radius: 10px;
  overflow: hidden;
}
.front-pickup__item .item-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s var(--transition);
  width: 100%;
}
.front-pickup__item .item-desc {
  display: grid;
  margin-top: 2.5rem;
}
.front-pickup__item .item-ttl {
  font-size: min(2rem, 25px);
  font-weight: 700;
  margin-bottom: 2rem;
}
.front-pickup__item .item-btnWrap {
  margin-top: 1.5rem;
}
.front-recently {
  border-top: 1px solid #474747;
}
.front-recently__ttl {
  align-items: flex-end;
  border-bottom: 1px solid #474747;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 1.75rem;
}
.front-recently__ttl--en {
  font-family: aktiv-grotesk, source-han-sans-japanese, -apple-system,
    blinkmacsystemfont, Segoe UI, Helvetica Neue, helveticaneue, verdana, meiryo,
    sans-serif;
  font-size: min(3.8rem, 70px);
  font-weight: 700;
  line-height: 0.9;
}
.front-recently__ttl--ja {
  font-size: min(1.4rem, 19px);
  font-weight: 700;
}
.front-recently__desc {
  padding: 3rem 1.75rem 0;
}
.front-recently__txt {
  font-size: min(1.5rem, 18px);
  font-weight: 900;
  line-height: 2.0625;
}
.front-recently__btnWrap {
  margin-top: 1.5rem;
}
.front-recently__list {
  grid-gap: 4rem 5.8823529412%;
  display: grid;
  gap: 4rem 5.8823529412%;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 1.75rem 5rem;
}
.front-recently__item {
  position: relative;
}
.front-recently__item .item-img {
  border-radius: 10px;
  margin-bottom: 1.8rem;
  overflow: hidden;
}
.front-recently__item .item-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s var(--transition);
  width: 100%;
}
.front-recently__item .item-ttl {
  font-size: min(1.6rem, 23px);
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0.5rem;
}
.front-recently__item .item-time {
  font-size: 0;
}
.front-recently__item .item-time > span {
  display: inline-block;
  font-family: aktiv-grotesk, source-han-sans-japanese, -apple-system,
    blinkmacsystemfont, Segoe UI, Helvetica Neue, helveticaneue, verdana, meiryo,
    sans-serif;
  font-size: min(1rem, 12px);
  font-weight: 300;
  line-height: normal;
  padding: 0 0.25em;
}
.front-recently__item .item-btnWrap {
  margin-top: 1.5rem;
}
@media (hover: hover) and (pointer: fine) and (min-width: 768px) {
  .front-masonry .masonry-item > a:hover img,
  .front-pickup__item > a:hover .item-img img {
    transform: scale(1.06);
  }
  .front-pickup__item > a:hover .c-btn01__txt {
    background: #e4ff3c;
  }
  .front-recently__item > a:hover .item-img img {
    transform: scale(1.06);
  }
  .front-recently__item > a:hover .c-btn01__txt {
    background: #e4ff3c;
  }
}
@media screen and (min-width: 768px) {
  .front-masonry {
    padding-bottom: 10rem;
  }
  .front-masonry__container {
    padding: 0 2.675rem;
  }
  .front-masonry__head {
    padding: 8.5rem 0;
    display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "ttl ... txt";
        align-items: center;
  }
  .front-masonry__ttl {
    max-width: calc(501 / 1920 * 100vw);
    grid-area: ttl;
  }
  .front-masonry__txt {
    max-width: calc(611 / 1920 * 100vw);
    grid-area: txt;
  }
  .front-masonry__txt--ja {
    font-size: max(3rem, 22px);
    margin-bottom: 0.15em;
  }
  .front-masonry__txt--en {
    font-size: max(1.4rem, 12px);
  }
  .front-masonry .grid-sizer,
  .front-masonry .masonry-item {
    margin-bottom: 0.8333333333vw;
    width: 31.0347226562vw;
  }
  .front-masonry .gutter-sizer {
    width: 0.8333333333vw;
  }
  .front-pickup__ttl {
    gap: 0 3rem;
    justify-content: flex-start;
    padding: 2.5rem 2.675rem;
  }
  .front-pickup__ttl--en {
    font-size: max(7rem, 38px);
  }
  .front-pickup__ttl--ja {
    font-size: max(1.9rem, 14px);
  }
  .front-pickup__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2.175rem;
  }
  .front-pickup__item {
    padding-bottom: 0;
  }
  .front-pickup__item:not(:first-child) {
    border-top: none;
  }
  .front-pickup__item:not(:nth-child(3n)):before {
    background: #474747;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
  .front-pickup__item:nth-child(2n) > a {
    grid-template-rows: 1fr auto;
  }
  .front-pickup__item:nth-child(2n) .item-img {
    align-self: end;
    order: 2;
  }
  .front-pickup__item:nth-child(2n) .item-desc {
    margin: 0 0 4rem;
    order: 1;
  }
  .front-pickup__item > a {
    grid-template-rows: auto 1fr;
    height: 100%;
    padding: 4.25rem 3rem;
  }
  .front-pickup__item .item-desc {
    margin-top: 3.5rem;
  }
  .front-pickup__item .item-ttl {
    font-size: max(2.5rem, 20px);
    line-height: 1.35;
    margin-bottom: 3.75rem;
  }
  .front-pickup__item .item-btnWrap {
    align-self: end;
    margin-top: 3rem;
  }
  .front-recently__ttl {
    gap: 0 3rem;
    justify-content: flex-start;
    padding: 2.5rem 2.675rem;
  }
  .front-recently__ttl--en {
    font-size: max(7rem, 38px);
  }
  .front-recently__ttl--ja {
    font-size: max(1.9rem, 14px);
  }
  .front-recently__desc {
    padding: 3.2rem 5.175rem 0;
  }
  .front-recently__txt {
    font-size: max(1.8rem, 15px);
  }
  .front-recently__btnWrap {
    margin-top: 3rem;
  }
  .front-recently__list {
    gap: 6rem 2.8363047002%;
    grid-template-columns: repeat(3, 1fr);
    padding: 4.25rem 5.175rem 6rem;
  }
  .front-recently__item .item-img {
    margin-bottom: 3rem;
  }
  .front-recently__item .item-ttl {
    font-size: max(2.3rem, 16px);
    margin-bottom: 1rem;
  }
  .front-recently__item .item-time > span {
    font-size: max(1.4rem, 12px);
  }
  .front-recently__item .item-btnWrap {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .front-masonry__container {
    padding: 0 3.6rem;
  }
  .front-masonry__head {
    padding: 12rem 0;
  }
  .front-masonry__txt--ja {
    font-size: max(3.8rem, 30px);
  }
  .front-masonry__txt--en {
    font-size: max(1.6rem, 14px);
  }
  .front-pickup__ttl {
    padding: 3.6rem;
  }
  .front-pickup__ttl--en {
    font-size: max(8.2rem, 70px);
  }
  .front-pickup__ttl--ja {
    font-size: max(2.4rem, 19px);
  }
  .front-pickup__list {
    padding: 0 3.8rem;
  }
  .front-pickup__item > a {
    padding: 5.5rem 4.8rem;
  }
  .front-pickup__item .item-ttl {
    font-size: max(3rem, 25px);
    margin-bottom: 5.5rem;
  }
  .front-recently {
    display: grid;
    grid-template-columns: 28.125% auto;
  }
  .front-recently__ttl {
    display: block;
    padding: 0;
  }
  .front-recently__ttl--en {
    font-size: max(8.2rem, 70px);
    padding: 3.6rem;
  }
  .front-recently__ttl--en:not(:last-child) {
    border-bottom: 1px solid #474747;
  }
  .front-recently__ttl--ja {
    font-size: max(2.4rem, 19px);
    padding: 1.8rem 3.6rem;
  }
  .front-recently__desc {
    padding: 3.2rem 3.6rem 0;
  }
  .front-recently__list {
    border-left: 1px solid #474747;
    padding: 5.5rem 8.6rem 7rem 5.9rem;
  }
  .front-recently__item .item-ttl {
    font-size: max(3rem, 23px);
  }
}
@media screen and (min-width: 1281px) {
  .front-masonry__head {
    align-items: center;
    gap: 0;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
@media screen and (min-width: 1441px) {
  .front-masonry .grid-sizer,
  .front-masonry .masonry-item {
    width: 23.4375vw;
  }
}
