.map-detail-head {
  position: relative;
  z-index: 1;
}
.map-detail-head__container {
  align-items: center;
  display: grid;
  min-height: 16rem;
  padding-bottom: 0.7rem;
}
.map-detail-head__inner {
  position: relative;
  z-index: 2;
}
.map-detail-head__area-name {
  display: block;
  font-family: var(--font-serif-jp);
  font-size: min(1.6rem, 17px);
  font-weight: 700;
  line-height: 2.7;
  border-bottom: 1px solid #474747;
  text-align: right;
}
.map-detail-head__ttl {
  font-family: var(--font-serif-jp);
  font-size: min(3.6rem, 43px);
  line-height: 1.2;
  margin: 2rem 0 1rem;
  letter-spacing: 0.1em;
}
.map-detail-head__address {
  font-family: var(--font-inter);
  font-size: min(1.6rem, 20px);
  font-weight: 500;
  line-height: 2.25;
}
.map-detail-cont__post-item {
  display: flex;
  align-items: center;
  column-gap: 1.7rem;
}
.item-icon {
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.map-detail-head__time {
  font-size: 0;
  align-self: flex-end;
}
.map-detail-head__time {
  font-size: 18px;
  line-height: 1.3;
}
.map-detail-head__txt {
  font-size: min(1.5rem, 18px);
  font-weight: 300;
  line-height: calc(38 / 18);
  margin-top: 2.16rem;
}
.map-detail-mv {
  border-top: 1px solid #474747;
  padding-block: 6rem 2.6rem;
  position: relative;
}
.map-detail-mv__container {
}
.map-detail-mv__img {
  border-radius: 10px;
  overflow: hidden;
}
.map-detail-mv__img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.section-comp.generic.map-detail-cont {
  padding: 0;
  position: relative;
  z-index: 1;
}
.section-comp.generic .map-detail-cont__inner {
  /* padding: 0 1.75rem; */
}
.map-detail-head__poster-date-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 3.1rem;
}
.map-detail-cont__post {
}
.section-comp.generic .map-detail-cont__post {
  padding-top: min(5rem, 75px);
}
.map-detail-cont__post-item .item-txt {
  font-size: 14px;
  font-weight: bold;
  line-height: calc(31 / 14);
}
.section-comp.generic .map-detail-cont__post-ttl {
  border-bottom: none;
  font-size: min(1.8rem, 22px);
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0.85em;
  padding-bottom: 0;
}
.section-comp.generic .map-detail-cont__post-list {
  border-bottom: 1px solid #474747;
  border-top: 1px solid #474747;
  padding: 2rem 1.75rem;
}
.section-comp.generic .map-detail-cont__post-item {
  grid-gap: 0 min(2rem, 30px);
  align-items: center;
  display: grid;
  gap: 0 min(2rem, 30px);
  grid-template-columns: min(5.6rem, 68px) auto;
  padding-left: 0;
}
.section-comp.generic .map-detail-cont__post-item:not(:last-child) {
  margin-bottom: 0.8em;
}
.section-comp.generic .map-detail-cont__post-item:before {
  display: none;
}
.section-comp.generic .map-detail-cont__post-item .item-icon {
  aspect-ratio: 1/1;
  background: #e4ff3c;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
}
.section-comp.generic .map-detail-cont__post-item .item-icon img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.section-comp.generic .map-detail-cont__map {
  padding-top: 11px;
  border-top: 1px solid #474747;
  margin-top: 7rem;
}
.section-comp.generic .map-detail-cont__map-ttl {
  border-bottom: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 2.4rem;
  padding-bottom: 0;
}
.section-comp.generic .map-detail-cont__map-block {
  aspect-ratio: 340/240;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.section-comp.generic .map-detail-cont__map-block iframe {
  height: 100%;
  width: 100%;
}
.section-comp.generic .map-detail-cont__info {
  /* padding-top: min(5rem, 75px); */
  padding-top: 4.3rem;
}
.section-comp.generic .map-detail-cont__info-ttl {
  border-bottom: 1px solid #474747;
  border-top: 1px solid #474747;
  font-family: aktiv-grotesk, source-han-sans-japanese, -apple-system,
    blinkmacsystemfont, Segoe UI, Helvetica Neue, helveticaneue, verdana, meiryo,
    sans-serif;
  font-size: min(2.8rem, 35px);
  font-weight: 700;
  margin-bottom: 1.2em;
  padding-bottom: 1.3rem;
  padding-top: 1.4rem;
}
.section-comp.generic .map-detail-cont__info-item {
}
.section-comp.generic .map-detail-cont__info-item .item-img {
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;
}
.section-comp.generic .map-detail-cont__info-item .item-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.section-comp.generic .map-detail-cont__info-item .item-ttl {
  font-size: min(1.8rem, 21px);
  font-weight: 700;
}
.section-comp.generic .map-detail-cont__info-item .item-desc {
  font-size: min(1.6rem, 16px);
}
.section-comp.generic .map-detail-cont__info-item .item-di {
  align-items: start;
  display: grid;
  grid-template-columns: max-content auto;
  line-height: 2.375;
}
.section-comp.generic .map-detail-cont__info-item .item-di > dt {
  font-size: 16px;
}
.section-comp.generic .map-detail-cont__info-item .item-di > dt:after {
  content: " | ";
  display: inline-block;
  font-size: 16px;
  margin: 0 0.25em;
}
.section-comp.generic .map-detail-cont__info-item .item-btn {
  line-height: 2.375;
}
.section-comp.generic .map-detail-cont__info-item .item-btn__txt {
  font-size: inherit;
  font-weight: 500;
}
.section-comp.generic .map-detail-cont__info-item .item-btn__link{
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
}
.section-comp.generic .map-detail-cont__info-item .item-btn__link::after{
  content: "";  
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #666;
  mask: url("../img/icon_window.svg") no-repeat center center / cover;
  transition: background-color 0.3s cubic-bezier(0.23, 0.68, 0.32, 1);
}
.section-comp.generic .map-detail-cont__info-item .item-btn__link:hover::after{
  background-color: #000;
}
.section-comp.generic .map-detail-cont__share {
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  margin-top: 46px;
  padding-block: 11px 23px;
}
.section-comp.generic .map-detail-cont__share-ttl {
  border-bottom: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 30px;
  padding-bottom: 0;
  text-align: center;
}
.section-comp.generic .map-detail-cont__share-block {
  grid-gap: 0 3rem;
  align-items: center;
  display: grid;
  gap: 0 3rem;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
}
.section-comp.generic .map-detail-cont__share-block > button {
  position: relative;
}
.section-comp.generic .map-detail-cont__share-block > button .icon {
  background-color: currentcolor;
  cursor: pointer;
  display: block;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  transition: opacity 0.3s var(--transition);
}
.section-comp.generic
  .map-detail-cont__share-block
  > button[data-share="x"]
  .icon {
  height: 21px;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"><path d="M32,31.7l-12.5-18.2h0S30.8.3,30.8.3h-3.8l-9.2,10.6L10.5.3H.6l11.7,17h0S0,31.7,0,31.7h3.8l10.2-11.8,8.1,11.8h9.9ZM9,3.2l17.6,25.6h-3L6,3.2h3Z"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"><path d="M32,31.7l-12.5-18.2h0S30.8.3,30.8.3h-3.8l-9.2,10.6L10.5.3H.6l11.7,17h0S0,31.7,0,31.7h3.8l10.2-11.8,8.1,11.8h9.9ZM9,3.2l17.6,25.6h-3L6,3.2h3Z"/></svg>');
  width: 27px;
}
.section-comp.generic
  .map-detail-cont__share-block
  > button[data-share="facebook"]
  .icon {
  height: 23px;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 19 32"><path d="M18.9,5.3c-7.7-.4-6.3,2.4-6.4,6.8,1.6,0,5.1,0,6.1,0-.4,2.3-.9,5.2-1,5.7-1.8,0-3.5,0-5.1,0,0,2.8,0,12.5,0,14.1-1.1,0-5.8,0-6.8,0,0-2.3,0-11.7,0-14.1-1.4,0-3.8,0-5.6,0,0-1.2,0-3.7,0-5.7,1,0,4.4,0,5.6,0,0-1.3,0-2.6,0-4.2,0-5.8,4.2-9.1,13.2-7.5,0,1.4,0,3.9,0,4.9Z"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 19 32"><path d="M18.9,5.3c-7.7-.4-6.3,2.4-6.4,6.8,1.6,0,5.1,0,6.1,0-.4,2.3-.9,5.2-1,5.7-1.8,0-3.5,0-5.1,0,0,2.8,0,12.5,0,14.1-1.1,0-5.8,0-6.8,0,0-2.3,0-11.7,0-14.1-1.4,0-3.8,0-5.6,0,0-1.2,0-3.7,0-5.7,1,0,4.4,0,5.6,0,0-1.3,0-2.6,0-4.2,0-5.8,4.2-9.1,13.2-7.5,0,1.4,0,3.9,0,4.9Z"/></svg>');
  width: 13px;
}
.section-comp.generic
  .map-detail-cont__share-block
  > button[data-share="copy"]
  .icon {
  height: 14px;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30 14"><path d="M28.8,10.9c.4-.6.7-1.2.9-1.8.2-.7.3-1.4.3-2.1,0-1-.2-1.9-.5-2.7-.5-1.3-1.4-2.3-2.5-3.1-.5-.4-1.1-.7-1.8-.9C24.6.1,23.9,0,23.2,0h-4.5c-.9,0-1.7.8-1.7,1.7,0,.9.7,1.7,1.7,1.7h4.6c.5,0,.9,0,1.3.3.6.3,1.2.7,1.5,1.3.2.3.3.6.4.9.1.3.2.7.2,1.1,0,.5,0,1-.3,1.4-.3.6-.7,1.2-1.3,1.6-.3.2-.6.3-.9.4-.3.1-.7.2-1,.2h-4.5c-.9,0-1.7.8-1.7,1.7,0,.9.7,1.7,1.7,1.7h4.6c.9,0,1.8-.2,2.6-.6,1.2-.5,2.3-1.4,3-2.5ZM11.3,10.6h-4.6c-.5,0-.9-.1-1.3-.3-.6-.3-1.2-.7-1.5-1.3-.2-.3-.3-.6-.4-.9-.1-.3-.2-.7-.2-1.1,0-.5,0-1,.3-1.4.3-.6.7-1.2,1.3-1.6.3-.2.6-.3.9-.4.3-.1.7-.2,1-.2h4.6c.9,0,1.7-.8,1.7-1.7C13,.8,12.3,0,11.3,0h-4.5c-.9,0-1.8.2-2.6.6-1.2.5-2.3,1.4-3,2.5-.4.6-.7,1.2-.9,1.8C.1,5.6,0,6.3,0,7c0,1,.2,1.9.5,2.7.5,1.3,1.4,2.3,2.5,3.1.5.4,1.1.7,1.8.9.6.2,1.3.3,2,.3h4.6c.9,0,1.7-.8,1.7-1.7,0-.9-.7-1.7-1.7-1.7ZM21,7c0-1.1-.8-2-1.7-2h-8.6c-.9,0-1.7.9-1.7,2,0,1.1.8,2,1.7,2h8.6c.9,0,1.7-.9,1.7-2Z"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30 14"><path d="M28.8,10.9c.4-.6.7-1.2.9-1.8.2-.7.3-1.4.3-2.1,0-1-.2-1.9-.5-2.7-.5-1.3-1.4-2.3-2.5-3.1-.5-.4-1.1-.7-1.8-.9C24.6.1,23.9,0,23.2,0h-4.5c-.9,0-1.7.8-1.7,1.7,0,.9.7,1.7,1.7,1.7h4.6c.5,0,.9,0,1.3.3.6.3,1.2.7,1.5,1.3.2.3.3.6.4.9.1.3.2.7.2,1.1,0,.5,0,1-.3,1.4-.3.6-.7,1.2-1.3,1.6-.3.2-.6.3-.9.4-.3.1-.7.2-1,.2h-4.5c-.9,0-1.7.8-1.7,1.7,0,.9.7,1.7,1.7,1.7h4.6c.9,0,1.8-.2,2.6-.6,1.2-.5,2.3-1.4,3-2.5ZM11.3,10.6h-4.6c-.5,0-.9-.1-1.3-.3-.6-.3-1.2-.7-1.5-1.3-.2-.3-.3-.6-.4-.9-.1-.3-.2-.7-.2-1.1,0-.5,0-1,.3-1.4.3-.6.7-1.2,1.3-1.6.3-.2.6-.3.9-.4.3-.1.7-.2,1-.2h4.6c.9,0,1.7-.8,1.7-1.7C13,.8,12.3,0,11.3,0h-4.5c-.9,0-1.8.2-2.6.6-1.2.5-2.3,1.4-3,2.5-.4.6-.7,1.2-.9,1.8C.1,5.6,0,6.3,0,7c0,1,.2,1.9.5,2.7.5,1.3,1.4,2.3,2.5,3.1.5.4,1.1.7,1.8.9.6.2,1.3.3,2,.3h4.6c.9,0,1.7-.8,1.7-1.7,0-.9-.7-1.7-1.7-1.7ZM21,7c0-1.1-.8-2-1.7-2h-8.6c-.9,0-1.7.9-1.7,2,0,1.1.8,2,1.7,2h8.6c.9,0,1.7-.9,1.7-2Z"/></svg>');
  width: 30px;
}
.section-comp.generic
  .map-detail-cont__share-block
  > button[data-share="copy"].success
  .txt {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
  visibility: visible;
}
.section-comp.generic
  .map-detail-cont__share-block
  > button[data-share="copy"]
  .txt {
  font-size: 1.2rem;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: -2em;
  transform: translate(-50%, 100%);
  transition: 0.3s;
  visibility: hidden;
  white-space: nowrap;
}
.section-comp.generic .map-detail-cont__btn-wrap {
  margin-top: min(4rem, 60px);
  text-align: center;
}
@media (hover: hover) and (pointer: fine) and (min-width: 768px) {
  .section-comp.generic .map-detail-cont__share-block > button:hover .icon {
    opacity: 0.4;
  }
}
@media screen and (min-width: 768px) {
  .map-detail-head__container {
  }
  .map-detail-head__ttl {
    font-size: max(4.3rem, 36px);
    margin-top: 2.5rem;
  }
  .map-detail-head__address {
    font-size: min(2rem, 16px);
  }  
  .map-detail-head__area-name{
    font-size: max(1.7rem, 17px);
  } 
  .map-detail-cont__post {
    padding-bottom: 1rem;
  }
  .map-detail-head__txt {
    font-size: max(1.8rem, 15px);
    margin-top: 2.5rem;
  }
  .map-detail-mv {
    padding-block: 8.7rem 2.9rem;
  }
  .map-detail-mv__container {
    padding: 0 2.675rem;
  }
  .section-comp.generic.map-detail-cont {
    padding: 0;
  }
  .section-comp.generic .map-detail-cont__inner {
    /* padding: 0 5.175rem; */
  }
  .section-comp.generic .map-detail-cont__post {
    padding-top: max(7.5rem, 50px);
  }
  .section-comp.generic .map-detail-cont__post-ttl {
    font-size: max(2.2rem, 18px);
    margin-bottom: 1em;
  }
  .section-comp.generic .map-detail-cont__post-list {
    padding: 3.5rem;
  }
  .section-comp.generic .map-detail-cont__post-item {
    gap: 0 max(3rem, 20px);
    grid-template-columns: max(8rem, 68px) auto;
  }
  .section-comp.generic .map-detail-cont__map {
    margin-top: 10rem;
  }
  .section-comp.generic .map-detail-cont__map-ttl {
    margin-bottom: 4.2rem;
  }
  .section-comp.generic .map-detail-cont__map-block {
    aspect-ratio:  600 / 360;
    width: calc(600 / 900 * 100rem);
  }
  .section-comp.generic .map-detail-cont__info {
  }
  .section-comp.generic .map-detail-cont__info-ttl {
    font-size: max(3.5rem, 28px);
    margin-bottom: 1.6em;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
  }
  .section-comp.generic .map-detail-cont__info-item {
  }
  .section-comp.generic .map-detail-cont__info-item .item-img {
    margin-bottom: 0;
  }
  .section-comp.generic .map-detail-cont__info-item .item-desc {
  }
  .section-comp.generic .map-detail-cont__info-item .item-ttl {
    font-size: max(2.1rem, 18px);
  }
  .section-comp.generic .map-detail-cont__info-item .item-desc {
    font-size: max(1.6rem, 16px);
  }
  .section-comp.generic .map-detail-cont__info-item .item-btn {
  }
  .section-comp.generic .map-detail-cont__share {
  }
  .section-comp.generic .map-detail-cont__share-ttl {
  }
  .section-comp.generic .map-detail-cont__share-block {
    gap: 0 4rem;
  }
  .section-comp.generic .map-detail-cont__btn-wrap {
    margin-top: max(6rem, 40px);
  }
}
@media screen and (min-width: 1024px) {
  .map-detail-head__container {
    padding-bottom: 0.7rem;
  }
  .map-detail-head__inner {
  }
  .map-detail-head__ttl {
    font-size: max(6.2rem, 43px);
    margin: 3rem 0 1rem;
  }
  .map-detail-head__address {
    font-size: 2.4rem;
  }
  .map-detail-head__txt {
    align-self: center;
    grid-area: text;
    margin-top: 2.9rem;
  }
  .map-detail-head__poster-date-wrap {
    margin-top: 6.2rem;
  }
  .map-detail-head__ttl {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .map-detail-head__area-name {
    font-size: max(1.8rem, 17px);
  }
  .map-detail-head__time > span {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .map-detail-head__txt {
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }
  .map-detail-mv__container {
    padding: 0;
  }
  .section-comp.generic.map-detail-cont {
    padding: 0;
  }
  .section-comp.generic .map-detail-cont__inner {
    /* padding: 0 6rem 0 8.6rem; */
  }
  .section-comp.generic .map-detail-cont__post {
    padding-top: max(10rem, 75px);
  }
  .section-comp.generic .map-detail-cont__post-ttl {
    font-size: max(2.6rem, 22px);
  }
  .section-comp.generic .map-detail-cont__map {
    margin-top: 13.5rem;
  }
  .section-comp.generic .map-detail-cont__map-ttl {
    margin-bottom: 6rem;
  }
  .section-comp.generic .map-detail-cont__info-item .item-desc{
    font-size: max(1.8rem, 17px);
  }
  .section-comp.generic .map-detail-cont__info {
    padding-top: max(2.7rem, 27px);
  }
  .section-comp.generic .map-detail-cont__info-ttl {
    font-size: max(4.2rem, 35px);
    padding-bottom: 1.5rem;
    padding-top: 1.6rem;
  }
  .section-comp.generic .map-detail-cont__info-item .item-ttl {
    font-size: max(2.4rem, 21px);
  }
  .section-comp.generic .map-detail-cont__share {
    /* display: grid;
    grid-template-columns: max-content 1fr auto;
    grid-template-areas: "ttl ... sns"; */
    padding-block: 23px;
  }
  .section-comp.generic .map-detail-cont__share-ttl {
    grid-area: ttl;

  }
  .map-detail-cont__share-block{
    grid-area: sns;
  }
  .section-comp.generic .map-detail-cont__btn-wrap {
    margin-top: max(8rem, 60px);
  }
  .map-detail-head__ttl {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .map-detail-head__time > span {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .map-detail-head__txt {
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }
}
