.map-mv {
  margin-bottom: 4rem;
  padding: 0 1.75rem;
  position: relative;
}
.map-mv > div {
  aspect-ratio: 5/7;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.map-cont,
.map-mv > div {
  position: relative;
  z-index: 1;
}
.map-cont {
  padding: 4rem 0 7rem;
}
.map-cont__inner {
  padding: 0 1.75rem;
}
.map-cont__list {
  grid-gap: 4rem 5.8823529412%;
  display: grid;
  gap: 4rem 5.8823529412%;
  grid-template-columns: repeat(2, 1fr);
}
.map-cont__item {
  position: relative;
}
.map-cont__item .item-img {
  border-radius: 10px;
  margin-bottom: 1.8rem;
  overflow: hidden;
}
.map-cont__item .item-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s var(--transition);
  width: 100%;
}
.map-cont__item .item-ttl {
  font-size: min(1.6rem, 23px);
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0.5rem;
}
.map-cont__item .item-time {
  font-size: 0;
}
.map-cont__item .item-time > span {
  display: inline-block;
  font-family: aktiv-grotesk, source-han-sans-japanese, -apple-system,
    blinkmacsystemfont, Segoe UI, Helvetica Neue, helveticaneue, verdana, meiryo,
    sans-serif;
  font-size: min(1rem, 12px);
  font-weight: 300;
  line-height: normal;
  padding: 0 0.25em;
}
.map-cont__item .item-btnWrap {
  margin-top: 1.5rem;
}
@media (hover: hover) and (pointer: fine) and (min-width: 768px) {
  .map-cont__item > a:hover .item-img img {
    transform: scale(1.06);
  }
  .map-cont__item > a:hover .c-btn01__txt {
    background: #e4ff3c;
  }
}
@media screen and (min-width: 768px) {
  .map-mv {
    margin-bottom: 6.75rem;
    padding: 0 2.675rem;
  }
  .map-mv > div {
    aspect-ratio: 16/9;
  }
  .map-cont {
    padding: 6.25rem 0 9rem;
  }
  .map-cont__inner {
    padding: 0 5.175rem;
  }
  .map-cont__list {
    gap: 6rem 2.8363047002%;
    grid-template-columns: repeat(3, 1fr);
  }
  .map-cont__item .item-img {
    margin-bottom: 3rem;
  }
  .map-cont__item .item-ttl {
    font-size: max(2.3rem, 16px);
    margin-bottom: 1rem;
  }
  .map-cont__item .item-time > span {
    font-size: max(1.4rem, 12px);
  }
  .map-cont__item .item-btnWrap {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .map-mv {
    margin-bottom: 9.5rem;
    padding: 0 3.6rem;
  }
  .map-cont {
    padding: 8.5rem 0 11rem;
  }
  .map-cont__inner {
    padding: 0 6rem 0 8.6rem;
  }
  .map-cont__item .item-ttl {
    font-size: max(3rem, 23px);
  }
}
